@tailwind base;
@tailwind components;
@tailwind utilities;

.aerobutton {
    background-color: transparent;
    border: 2px solid transparent;
}
.aerobutton:hover {
    border-image: url("/assets/general/aerobutton_border.png") 2 round;
    background-size: 100% 100%;
}
.aerobutton:active {
    border-image: url("/assets/general/aerobutton_border_down.png") 2 round;
}

.divider {
    box-shadow: 0 3px 4px black;
}

.white-light {
    text-shadow: 0 1px 3px white;
}

.searchbar {
    background-image: url('.//assets/general/magnifying-glass.png'); /* URL de votre icône SVG locale */
    background-size: 12px 12px; /* Taille de l'icône */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position de l'icône */
    box-shadow: inset 0px 7px 6px -7px rgba(0,0,0,0.1);
}

.searchbar:hover {
    border: 1px solid #179bf3;
}

.searchbar:focus {
    border: 1px solid #179bf3;
    outline: none;
}


.hovercontact:hover {
    cursor: pointer;
    border: 1px solid #80D2F1;
    border-radius: 3px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(200,234,249,1) 70%, rgb(198, 237, 255) 97%);
    
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

@keyframes nudge {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .nudge {
    animation: nudge 0.5s; /* Durée de l'animation */
    animation-iteration-count: 1; /* Nombre d'itérations de l'animation */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }
  
  